.inter-normal > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header background */
.background {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  max-width: 1440px;
}
/* nav styles */
.black-color{
  color: #252432;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 120px;
}
.logo {
  font-size: 34px;
  font-weight: bold;
  color: #4e47ff;
}
.btn {
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #4e47ff;
  color: #ffffff;
  padding: 12px 36px;
  border: none;
  margin-top: 37px;
}
/* banner */
.banner-content {
  font-size: 50px;
  font-weight: bold;
}
.btn-2 {
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #4e47ff;
  color: #ffffff;
  padding: 12px 36px;
  border: none;
  margin-top: 37px;
}
.banner-container {
  max-width: 905px;
  
}
.banner {
  text-align: center;
  display: flex;
  justify-content: center;
  margin:80px;
}
