.inter-normal > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* nav styles */
.nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 200px;
  align-items: center;
}
div li {
  list-style: none;
}
.logo {
  font-size: 34px;
  font-weight: bold;
  color: #4e47ff;
}
/* banner */
.banner {
  text-align: center;
  margin-top: 170px;
}
.banner-content {
  font-size: 65px;
  font-weight: bold;
}
/* shared styles */
.btn {
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #4e47ff;
  color: #ffffff;
  padding: 12px 36px;
  border: none;
}
.btn-2 {
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #4e47ff;
  color: #ffffff;
  padding: 12px 36px;
  border: none;
  margin-top: 37px;
}
.black-colour {
  color: #252432;
}

.header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: repeat;
  background-position: ;
}
